body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

span {
  color: red;
}

.title {
  font-size: 2em;
  color: rebeccapurple;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

li {
  margin: 5px 0;
}